* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 15%;
  background-color: aliceblue;
}
.item:hover {
  background-color: beige;
}
.item img {
  max-width: 100%;
  height: auto;
  padding: 1rem;
}
.item h3 {
  padding: 3px;
}
.item p {
  padding: 3px;
}
.item a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 1rem;
}
.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  /* height: 200px; */
}
.hero img {
  max-width: 100%;
  height: auto;
}
.hero h2 {
  text-align: center;
  font-size: 100px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}
