* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 15%;
  background-color: aliceblue;
}
.item:hover {
  background-color: beige;
}
.item img {
  max-width: 100%;
  height: auto;
}
.item a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 2rem;
}
